body {
  background-color: black;
  padding-top: 30px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.heading {
  height: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 4px;
}

.navigation {
  margin-top: 10px;
  margin-bottom: 2px;
  text-align: center;
}

.navigation > a {
  border: 4px solid navy;
  border-radius: 16px;
  display: inline-block;
  color: rgb(116, 104, 64);
  margin: 3px;
  padding: 10px;
  width: 120px;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  font-variant: small-caps;
  font-size: large;
  font-style: italic;
  background: black;
}

.navigation > a:hover {
  border: 4px solid gold;
  color: gold;
  border-radius: 16px;
}

.content {
  background-image: url('./backgrounds/background1.png');
  background-color:rgb(53, 179, 36);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 250px;
  box-shadow:0 0 5px 10px black inset;
}

.footer {
  color:rgb(53, 179, 36);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 10px;
  width: 100%;
  font-size: x-small;
}

.login-form {
  margin-top: 20px;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 300px;
}

.label {
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding: 2px;
}

.field {
  border-color: black;
  border-width: 2px;
  border-style: solid;
  display: flex;
  flex-direction: column;
  margin: 2px;
  padding: 5px;
}

.button {
  border-color: black;
  border-width: 2px;
  border-style: solid;
  margin: 10px;
  padding: 5px;
}

.box-style {
  display: inline-block;
  width: 30px;
  padding: 12px;
  margin: 0 6px 6px;
  color: black;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 30px;
  background: white;
}

.div-box {
  border: 2px solid rgb(0, 0, 0);
  background-color: rgb(214, 249, 249);
  padding: 10px;
  width: 280px;
  margin: 4px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.div-table {
  margin-top: 10px;
  border: 2px solid rgb(0, 0, 0);
  background-color: rgb(214, 249, 249);
  align-items: center;
  display: flex;
  flex-direction: column;
}

.div-table-cell {
  padding: 4px;
  margin: 2px;
  width: 180px;
  text-align: center;
}

.div-table-heading-title {
  font-weight: bold;
  display: flex;
  flex-direction: row;
}

.div-table-heading {
  display: flex;
  flex-direction: row;
}

.div-table-heading:hover {
  background-color: lightblue;
  font-weight: bold;
  cursor: pointer;
}
