body {
  background-color: black;
  padding-top: 30px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.heading {
  position: absolute;
  height: 40px;
  display: flex;
  align-items: center;
  padding-bottom: 4px;
}

.heading img {
  width: 200px;
}

.navigation {
  margin-bottom: 10px;
  text-align: center;
}

.navigation > a {
  border: 4px solid navy;
  border-radius: 16px;
  display: inline-block;
  color: rgb(116, 104, 64);
  margin: 3px;
  padding: 10px;
  width: 120px;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  font-variant: small-caps;
  font-size: large;
  font-style: italic;
  background: black;
}

.navigation > a:hover {
  border: 4px solid gold;
  color: gold;
  border-radius: 16px;
}

.filter-nav {
  padding-top: 10px;
  display: inline-block;
  text-align: center;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-button {
  padding: 8px;
  cursor: pointer;
  background-color: lightblue;
  width: 130px;
  margin: 5px;
  border-radius: 16px;
  box-shadow: 0 0 10px 2px gray;
  text-shadow: 2px 2px 5px gray;
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family:cursive;
  font-size: x-large;
}

.dropdown-button:hover {
  background-color: cyan;
}

.dropdown-down {
  background-color: cyan;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  border-radius: 16px;
  background-color: #43aa46;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.visible {
  display: block;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: gold;
  border-radius: 16px;
}

.dropdown-content-select {
  background-color: gold;
  border-radius: 16px;
}

.content {
  background-image: url('./backgrounds/background1.png');
  background-color:rgb(53, 179, 36);
  display: flex;
  flex-direction: column;
  min-height: 62vh;
  overflow-y: scroll;
}

#cakecard-container {
  margin:10px;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cakecard-thumbnail-container {
  height: 90%;
}

.cakecard-thumbnail-container img {
  width: 100%;
}

.cakecard-text {
  font-weight: bold;
  font-size: larger;
}

.cakecard {
  margin: 12px;
  padding: 10px;
  background-color: lightblue;
  width: 290px;
  height: 320px;
  box-shadow: 0 0 10px 2px gray;
  text-shadow: 2px 2px 5px gray;
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family:cursive;
  font-size: x-large;
}

.cakecard:hover {
  box-shadow: 0 0 10px 2px navy;
}

@media screen and (max-width: 1024px) {
  .heading {
    position: relative;
    height: 60px;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 4px;
  }
  .heading img {
    height: 90px;
    width: auto;
  }
  .navigation {
    margin-top: 8px;
  }
  .cakecard {
    width: 30vw;
    height: 30vh;
    font-size: small;
  }
  #cakecard-container {
    padding: 20px;
  }
}

.footer {
  color:rgb(53, 179, 36);
  background-color: black;
  padding-top: 6px;
  padding-bottom: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: x-small;
}

.login-form {
  margin-top: 20px;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 300px;
}

.label {
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding: 2px;
}

.field {
  border-color: black;
  border-width: 2px;
  border-style: solid;
  display: flex;
  flex-direction: column;
  margin: 2px;
  padding: 5px;
}

.button {
  border-color: black;
  border-width: 2px;
  border-style: solid;
  margin: 10px;
  padding: 5px;
}

.box-style {
  display: inline-block;
  width: 30px;
  padding: 12px;
  margin: 0 6px 6px;
  color: black;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 30px;
  background: white;
}

.div-box {
  border: 2px solid rgb(0, 0, 0);
  background-color: rgb(214, 249, 249);
  padding: 10px;
  width: 280px;
  margin: 4px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.div-table {
  margin-top: 10px;
  border: 2px solid rgb(0, 0, 0);
  background-color: rgb(214, 249, 249);
  align-items: center;
  display: flex;
  flex-direction: column;
}

.div-table-cell {
  padding: 4px;
  margin: 2px;
  width: 180px;
  text-align: center;
}

.div-table-heading-title {
  font-weight: bold;
  display: flex;
  flex-direction: row;
}

.div-table-heading {
  display: flex;
  flex-direction: row;
}

.div-table-heading:hover {
  background-color: lightblue;
  font-weight: bold;
  cursor: pointer;
}
